body {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1280px;
  margin: auto;
  width: 97%; }

a {
  text-decoration: none;
  color: black; }

header {
  background-color: #1E3953;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  header .wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .wrapper .details {
      margin-left: 10px;
      display: inline-block;
      padding: 8px;
      padding-left: 0; }
      header .wrapper .details li {
        display: inline-block;
        color: #E6E9EC;
        margin-right: 4rem;
        transition: 0.3s ease-in-out; }
        header .wrapper .details li i {
          color: #8BC03F;
          margin-right: 0.5em;
          font-size: 1.2em; }
      header .wrapper .details li:hover {
        color: #8795A3;
        cursor: pointer; }
      header .wrapper .details #time:hover {
        color: #E6E9EC;
        cursor: text; }
    header .wrapper .icons {
      margin-right: 0;
      padding-right: 0; }
      header .wrapper .icons li {
        display: inline-block;
        color: #FFFFFF;
        background-color: #2E5275;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1em;
        box-sizing: border-box;
        transition: 0.3s ease-in-out;
        margin: 5px; }
      header .wrapper .icons li:hover {
        background-color: #8BC03F;
        cursor: pointer; }

nav {
  height: 70px;
  text-transform: uppercase;
  font: 500 14px "Ubuntu", Helvetica, Arial, sans-serif;
  letter-spacing: .02em;
  overflow: hidden;
  width: 100%;
  background: white;
  top: 0;
  border-bottom: 1px solid #BDBDBD;
  margin: auto; }
  nav .wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    nav .wrapper a {
      display: inline;
      width: 100px;
      margin: auto 0;
      padding: 0;
      transition: .3s ease-in-out; }
      nav .wrapper a i {
        margin-left: 0.35em;
        color: #8BC03F;
        font-size: 18px; }
      nav .wrapper a #search i {
        font-weight: 100;
        color: black;
        font-size: 18px;
        display: inline-block;
        margin-right: 0;
        padding-right: 0; }
      nav .wrapper a #search i:hover {
        color: #8BC03F;
        transition: .3s ease-in-out; }
      nav .wrapper a li:hover {
        color: #8BC03F;
        cursor: pointer; }
    nav .wrapper a:hover {
      color: #8BC03F;
      cursor: pointer; }
    nav .wrapper #home-btn {
      color: #8BC03F; }
    nav .wrapper .blog {
      display: inline;
      width: 100px;
      margin: 0;
      padding: 0;
      transition: .3s ease-in-out;
      position: relative; }
      nav .wrapper .blog button {
        text-transform: uppercase;
        border: none;
        background: none;
        font: 500 14px "Ubuntu", Helvetica, Arial, sans-serif;
        letter-spacing: .02em; }
        nav .wrapper .blog button i {
          margin-left: 0.35em;
          color: #8BC03F;
          font-size: 18px; }
      nav .wrapper .blog .blog-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 200px;
        z-index: 99999; }
        nav .wrapper .blog .blog-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left; }
        nav .wrapper .blog .blog-content a:hover {
          background-color: #ddd; }
    nav .wrapper .blog:hover .blog-content {
      display: block; }
    nav .wrapper .pages {
      display: inline;
      width: 100px;
      margin: 0;
      padding: 0;
      transition: .3s ease-in-out; }

#home {
  background-image: url(../assets/home.jpg);
  background-position: cover;
  height: 70vh;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  color: #FFFFFF; }
  #home .wrapper {
    width: 98%; }
    #home .wrapper h1 {
      font-size: 60px;
      line-height: 1.4;
      letter-spacing: .025em;
      padding-top: 2.5em;
      padding-left: 0;
      margin: 0;
      font-weight: 900; }
    #home .wrapper h3 {
      font-size: 22px;
      font-weight: 300;
      line-height: 1.71429;
      margin-top: 0; }
    #home .wrapper button {
      text-transform: uppercase;
      padding: 15px 30px;
      font-family: "Ubuntu", Helvetica, Arial, sans-serif;
      letter-spacing: 0.05em;
      font-size: 14px;
      font-weight: 700;
      border-radius: 5px;
      border: 2px solid;
      color: #fff;
      background-color: #1e3953;
      border-color: #1e3953;
      margin-top: 5%;
      transition: .3s ease-out; }
      #home .wrapper button i {
        margin-left: 0.2em;
        font-size: 20px; }
    #home .wrapper button:hover {
      background-color: #8BC03F;
      border-color: #8BC03F;
      cursor: pointer; }

#services {
  margin-top: 50px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  text-align: center; }
  #services .wrapper {
    width: 98%; }
    #services .wrapper h1 {
      font-size: 45px;
      font-weight: 900;
      margin: auto; }
    #services .wrapper h5 {
      color: #BDBDBD;
      margin: auto;
      font-size: 1.1em;
      font-weight: 400;
      margin-top: 1%;
      letter-spacing: 0.01em; }
    #services .wrapper .services-of {
      margin-top: 30px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #services .wrapper .services-of .box {
        border: 1px solid #BDBDBD;
        padding: 60px 60px;
        margin: 3%;
        text-align: center;
        display: inline-block;
        height: 180px;
        width: 180px; }
        #services .wrapper .services-of .box i {
          color: #8BC03F;
          font-size: 2.5em;
          margin-bottom: 5px;
          transition: .3s ease-in-out; }
        #services .wrapper .services-of .box .title {
          font-weight: 800;
          font-size: 1.20em;
          color: black;
          transition: .4s ease-in-out;
          margin-bottom: 0; }
        #services .wrapper .services-of .box .divider {
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 60px;
          height: 2px;
          margin: 10px auto;
          background: #8BC03F;
          transition: .3s ease-in-out; }
        #services .wrapper .services-of .box:hover .divider {
          width: 180px;
          position: relative;
          margin: 30px auto; }
        #services .wrapper .services-of .box:hover i {
          margin-top: -20px; }
        #services .wrapper .services-of .box p {
          font-weight: 350;
          margin: 0;
          line-height: 1.7;
          font-size: 0.9em;
          color: #BDBDBD; }
        #services .wrapper .services-of .box .title:hover {
          color: #8BC03F;
          cursor: pointer; }

#about {
  height: 800px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  background: url(../assets/counts.jpg) no-repeat;
  background-size: cover;
  color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #about .wrapper {
    width: 98%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    #about .wrapper .about-us {
      background-color: #1E3953;
      width: 300px;
      padding: 0.5% 5% 5% 4%;
      -webkit-box-shadow: 3px -1px 5px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 3px -1px 5px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 3px -1px 5px 5px rgba(0, 0, 0, 0.1);
      margin: auto 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-right: 0;
      z-index: 1; }
      #about .wrapper .about-us .a-title {
        font-size: 45px;
        font-weight: 700; }
      #about .wrapper .about-us .a-desc {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71429; }
      #about .wrapper .about-us .check {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 3; }
        #about .wrapper .about-us .check i {
          color: #8BC03F;
          margin-right: 0.5em; }
      #about .wrapper .about-us button {
        text-transform: uppercase;
        padding: 20px 20px;
        font-family: "Ubuntu", Helvetica, Arial, sans-serif;
        letter-spacing: 0.05em;
        font-size: 14px;
        font-weight: 700;
        border-radius: 5px;
        border: 2px solid;
        color: #fff;
        background-color: transparent;
        border-color: #fff;
        margin-top: 5%;
        transition: .3s ease-out;
        width: 240px; }
      #about .wrapper .about-us button:hover {
        background-color: #8BC03F;
        border-color: #8BC03F;
        cursor: pointer; }
    #about .wrapper .counts {
      background-color: #1E3953;
      margin: auto 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 200px;
      margin-right: auto;
      height: 450px;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      z-index: 0;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #about .wrapper .counts .num-box {
        height: 200px;
        margin: 0;
        border-bottom: 1px solid #1C2E3F; }
        #about .wrapper .counts .num-box .number {
          font-size: 45px;
          font-weight: 800;
          margin-bottom: 0; }
        #about .wrapper .counts .num-box .details {
          color: #486889;
          font-size: 14px;
          font-weight: 800;
          margin-top: 0; }
      #about .wrapper .counts .num-box:nth-child(3) {
        border-bottom: none; }

#calculator {
  background: url(../assets/calculator.jpg);
  background-size: cover;
  height: 500px;
  padding: 100px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif; }
  #calculator .wrapper {
    width: 98%; }
    #calculator .wrapper .title {
      font-family: "Ubuntu", Helvetica, Arial, sans-serif;
      margin: 40px;
      margin-left: 0;
      font-size: 50px;
      font-weight: 700; }
      #calculator .wrapper .title i {
        color: white; }
    #calculator .wrapper .cal-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      #calculator .wrapper .cal-container form {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: auto; }
        #calculator .wrapper .cal-container form .left {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 220px;
          margin-right: 50px; }
          #calculator .wrapper .cal-container form .left input {
            border-bottom: 3px solid #8BC03F; }
        #calculator .wrapper .cal-container form .right {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 220px;
          flex-direction: column;
          color: #1C2E3F; }
        #calculator .wrapper .cal-container form p {
          font-weight: 650;
          margin: 0;
          line-height: 1.7;
          font-size: 0.9em;
          color: #1C2E3F;
          margin-bottom: 5px; }
        #calculator .wrapper .cal-container form select {
          margin-bottom: 20px;
          border: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          -o-appearance: none;
          height: 50px;
          border-radius: 5px;
          padding: 15px;
          background-color: white;
          font-size: 15px; }
          #calculator .wrapper .cal-container form select option {
            border: 0;
            outline: 0; }
        #calculator .wrapper .cal-container form select:hover {
          cursor: pointer; }
        #calculator .wrapper .cal-container form select:active {
          outline: none; }
        #calculator .wrapper .cal-container form select:focus {
          outline: none; }
        #calculator .wrapper .cal-container form input {
          height: 20px;
          border-radius: 5px;
          padding: 15px;
          background-color: white;
          font-size: 15px;
          border: none; }
        #calculator .wrapper .cal-container form input:focus {
          outline: none; }

.testimonials {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  text-align: center; }
  .testimonials .top {
    background: #FFFFFF;
    margin: 0;
    padding: 60px; }
    .testimonials .top h4 {
      font-size: 50px;
      margin-bottom: 80px; }
  .testimonials .bottom {
    position: relative;
    background: #1E3953;
    padding: 120px;
    padding-bottom: 220px;
    text-align: center; }
    .testimonials .bottom .inner-container {
      position: absolute;
      top: -100px;
      left: 330px;
      text-align: center;
      width: 1180px;
      padding: 0; }
      .testimonials .bottom .inner-container .wrapper {
        position: relative;
        width: 98%;
        margin: auto; }
      .testimonials .bottom .inner-container img:nth-child(odd) {
        height: 140px;
        width: 140px;
        margin-right: 80px;
        margin-left: 80px;
        padding-bottom: 30px; }
      .testimonials .bottom .inner-container img:nth-child(2) {
        height: 200px;
        width: 200px; }
    .testimonials .bottom p, .testimonials .bottom h5 {
      text-align: center;
      width: 800px;
      margin: 20px 180px;
      color: #FFFFFF; }
    .testimonials .bottom p {
      font-size: 18px;
      font-style: italic;
      line-height: 38px;
      letter-spacing: 0.5px;
      font-weight: 100; }
    .testimonials .bottom h5 {
      font-size: 16px;
      text-transform: uppercase; }

#news {
  height: 500px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif; }
  #news .wrapper {
    width: 98%; }
    #news .wrapper .news-title {
      font-size: 45px;
      text-align: center;
      font-weight: 600;
      margin: 50px; }
    #news .wrapper .news-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #news .wrapper .news-container .box {
        width: 250px;
        height: 300px;
        border: 0.2px solid #BDBDBD; }
        #news .wrapper .news-container .box img {
          height: 180px;
          width: 250px;
          border: none; }
        #news .wrapper .news-container .box .headline {
          margin: 13px;
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.7px;
          line-height: 1.5rem;
          transition: .3s ease-in-out; }
        #news .wrapper .news-container .box .headline:hover {
          color: #8BC03F;
          cursor: pointer; }
        #news .wrapper .news-container .box .details {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          font-size: 11px;
          margin: 10px 13px;
          text-transform: uppercase; }
          #news .wrapper .news-container .box .details .date, #news .wrapper .news-container .box .details span {
            color: #BDBDBD; }
          #news .wrapper .news-container .box .details .date {
            border-right: 1px solid #bdbdbd;
            padding-right: 20px;
            margin-right: 20px; }
          #news .wrapper .news-container .box .details .writer {
            color: #8BC03F; }
          #news .wrapper .news-container .box .details .writer:hover {
            color: #77a52f;
            cursor: pointer; }

.last-part {
  height: 300px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #1E3953;
  padding: 50px 0 0 0; }
  .last-part .wrapper {
    width: 98%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .last-part .wrapper h4 {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 700; }
    .last-part .wrapper .section {
      width: 300px; }
    .last-part .wrapper .first p {
      font-size: 15px;
      line-height: 30px;
      color: #496A8A; }
    .last-part .wrapper .first .icons {
      font-size: 18px;
      font-weight: 500; }
      .last-part .wrapper .first .icons i:nth-child(1) {
        color: #93C83F;
        font-size: 20px;
        margin-right: 5px; }
      .last-part .wrapper .first .icons i:nth-child(n+2) {
        color: #FFFFFF;
        background-color: #2E5275;
        border-radius: 3px;
        padding: 7px 7px;
        font-size: 14px;
        box-sizing: border-box;
        transition: 0.3s ease-in-out;
        margin-left: 4px; }
      .last-part .wrapper .first .icons i:nth-child(2) {
        margin-left: 10px; }
      .last-part .wrapper .first .icons i:nth-child(n+2):hover {
        cursor: pointer;
        background-color: #93C83F; }
    .last-part .wrapper .second {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      font-size: 15px;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .last-part .wrapper .second h4 {
        margin-bottom: 30px; }
      .last-part .wrapper .second span {
        color: #93C83F;
        margin-right: 20px;
        transition: .3s ease-in-out; }
      .last-part .wrapper .second p {
        margin-bottom: 25px; }
      .last-part .wrapper .second p:hover span {
        margin-left: 10px;
        margin-right: 10px; }
      .last-part .wrapper .second p:hover {
        color: #93C83F;
        cursor: pointer; }
      .last-part .wrapper .second .right {
        margin-top: 55px;
        margin-left: 50px; }
    .last-part .wrapper .third p {
      font-size: 15px;
      line-height: 30px;
      color: #496A8A; }

footer {
  background-color: #1e354a;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif; }
  footer p {
    color: #496A8A;
    font-size: 15px;
    padding: 0;
    margin: 0; }

@media (max-width: 1200px) {
  body {
    overflow-x: hidden; }
  .wrapper {
    width: 98%; }
  .home .wrapper {
    text-align: center; }
  #news {
    height: 800px;
    display: block; }
    #news .news-container {
      padding: 10px;
      display: none; }
      #news .news-container .box {
        width: 400px;
        height: 400px;
        padding: 50px; } }
