body {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1280px;
  margin: auto; }

header {
  background-color: #1E3953;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  header .wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .wrapper .details {
      margin-left: 0;
      padding-left: 0; }
      header .wrapper .details li {
        display: inline;
        color: #E6E9EC;
        margin-right: 4em;
        transition: 0.3s ease-in-out; }
        header .wrapper .details li i {
          color: #8BC03F;
          margin-right: 0.5em;
          font-size: 1.2em; }
      header .wrapper .details li:hover {
        color: #8795A3;
        cursor: pointer; }
      header .wrapper .details #time:hover {
        color: #E6E9EC;
        cursor: text; }
    header .wrapper .icons {
      margin-right: 0;
      padding-right: 0; }
      header .wrapper .icons li {
        display: inline;
        color: #FFFFFF;
        background-color: #2E5275;
        border-radius: 3px;
        padding: 5px 10px;
        margin: 1.5%;
        font-size: 1em;
        box-sizing: border-box;
        transition: 0.3s ease-in-out; }
      header .wrapper .icons li:hover {
        background-color: #8BC03F;
        cursor: pointer; }

nav {
  height: 6em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font: 500 14px "Ubuntu", Helvetica, Arial, sans-serif;
  letter-spacing: .02em; }
  nav .wrapper {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    nav .wrapper ul {
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      nav .wrapper ul li {
        display: inline;
        list-style: none;
        margin: 3.5%;
        transition: .3s ease-in-out; }
        nav .wrapper ul li i {
          margin-left: 0.35em;
          color: #8BC03F;
          font-size: 18px; }
      nav .wrapper ul #home {
        color: #8BC03F; }
      nav .wrapper ul #search i {
        font-weight: 100;
        color: black;
        font-size: 18px;
        margin-left: 0; }
      nav .wrapper ul #search i:hover {
        color: #8BC03F;
        transition: .3s ease-in-out; }
      nav .wrapper ul li:hover {
        color: #8BC03F;
        cursor: pointer; }

.home {
  background-image: url(../assets/home.jpg);
  background-position: cover;
  height: 70vh;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  color: #FFFFFF; }
  .home h1 {
    font-size: 60px;
    line-height: 1.4;
    letter-spacing: .025em;
    padding-top: 2.5em;
    padding-left: 0;
    margin: 0;
    font-weight: 900; }
  .home h3 {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.71429;
    margin-top: 0; }
  .home button {
    text-transform: uppercase;
    padding: 20px 35px;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid;
    color: #fff;
    background-color: #1e3953;
    border-color: #1e3953;
    margin-top: 5%;
    transition: .3s ease-out; }
    .home button i {
      margin-left: 0.2em;
      font-size: 20px; }
  .home button:hover {
    background-color: #8BC03F;
    border-color: #8BC03F;
    cursor: pointer; }

.services {
  margin: 7vh;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  text-align: center; }
  .services h1 {
    font-size: 45px;
    font-weight: 900;
    margin: auto; }
  .services h5 {
    color: #BDBDBD;
    margin: auto;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 1%;
    letter-spacing: 0.01em; }
