body{
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1280px;
    margin: auto;
    width: 98%;

}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: #1E3953;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .wrapper{
        display: flex;
        justify-content: space-between;

        .details{
            margin-left: 10px;
            display: inline-block;
            padding: 8px;
            padding-left: 0;


            li{
                display: inline-block;
                color: #E6E9EC;
                margin-right: 4rem;
                transition: 0.3s ease-in-out; 

                    i{
                        color:#8BC03F;
                        margin-right: 0.5em; 
                        font-size: 1.2em;
                    }
            }
            li:hover{
                color: #8795A3;
                cursor: pointer;
            }
            #time:hover{
                color: #E6E9EC;
                cursor: text;
            
            }
        }
        .icons{
            margin-right: 0;
            padding-right: 0;


            li{
                display: inline-block;
                color: #FFFFFF;
                background-color: #2E5275;
                border-radius: 3px;
                padding: 5px 10px;
                font-size: 1em;
                box-sizing: border-box;
                transition: 0.3s ease-in-out;
                margin: 5px;
            }
            li:hover{
                background-color: #8BC03F;
                cursor: pointer;
                
            }
        }
    }
}
nav{
    height: 70px;
    text-transform: uppercase;
    font: 500 14px "Ubuntu", Helvetica, Arial, sans-serif;
    letter-spacing: .02em;
    overflow: hidden;
    width: 100%;
    background: white;
    top: 0;
    border-bottom: 1px solid #BDBDBD;
    margin: auto;

    
    .wrapper{
        display: flex;
        justify-content: flex-end;


        a{
            display: inline;
            width: 100px;
            margin: auto 0;
            padding: 0;
            transition: .3s ease-in-out;
            
            i{
                margin-left: 0.35em;
                color: #8BC03F;
                font-size: 18px;
            }

            #search{
                i{
                    font-weight: 100;
                    color: black;
                    font-size: 18px;
                    display: inline-block;
                    margin-right: 0;
                    padding-right: 0;

                }
                i:hover{
                    color: #8BC03F;
                    transition: .3s ease-in-out;
                }
            }
            
            li:hover{
                color: #8BC03F;
                cursor: pointer;
            }
        }
        a:hover{
            color: #8BC03F;
            cursor: pointer;
        }

        #home-btn{
                color: #8BC03F;
            }
        .blog{
            display: inline;
            width: 100px;
            margin:0;
            padding: 0;
            transition: .3s ease-in-out;
            position: relative;
            
            button{
                text-transform: uppercase;
                border: none;
                background: none;
                font: 500 14px "Ubuntu", Helvetica, Arial, sans-serif;
                letter-spacing: .02em;

                i{
                    margin-left: 0.35em;
                    color: #8BC03F;
                    font-size: 18px;
                }
            }

            .blog-content{
                display: none;
                position: absolute;
                background-color: white;
                min-width: 200px;
                z-index: 99999;

                a{
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left; 
                }
                a:hover{
                    background-color: #ddd;
                }
            }
            
        }
        .blog:hover .blog-content{
                display: block;
            }
        .pages{
            display: inline;
            width: 100px;
            margin:0;
            padding: 0;
            transition: .3s ease-in-out;
        }
    }
}
#home{
    background-image: url(../assets/home.jpg);
    background-position: cover;
    height: 70vh;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    color: #FFFFFF;

    .wrapper{
        width: 98%;
    
        h1{
            font-size: 60px;
            line-height: 1.4;
            letter-spacing: .025em;
            padding-top: 2.5em;
            padding-left: 0;
            margin: 0;
            font-weight: 900;
        }
        h3{
            font-size: 22px;
            font-weight: 300;
            line-height: 1.71429;
            margin-top: 0;
        }
        button{
            text-transform: uppercase;
            padding: 15px 30px;
            font-family: "Ubuntu", Helvetica, Arial, sans-serif;
            letter-spacing: 0.05em;
            font-size: 14px;
            font-weight: 700;
            border-radius: 5px;
            border: 2px solid;
            color: #fff;
            background-color: #1e3953;
            border-color: #1e3953;
            margin-top: 5%;
            transition: .3s ease-out;
            
            i{
                margin-left: 0.2em;
                font-size: 20px;
            }
        }
        button:hover{
            background-color: #8BC03F;
            border-color: #8BC03F;
            cursor: pointer;
        }
    }
}
#services{
    margin-top: 50px;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    text-align: center;
    
    .wrapper{
        width: 98%;
   
        h1{
            font-size: 45px;
            font-weight: 900;
            margin: auto;
        }
        h5{
            color: #BDBDBD;
            margin: auto;
            font-size: 1.1em;
            font-weight: 400;
            margin-top: 1%;
            letter-spacing: 0.01em;
        }
        .services-of{
            margin-top: 50px;;
            display: flex;
            justify-content: space-between;

            .box{ 
            border: 1px solid #BDBDBD;
            padding: 90px 60px;
            margin: 3%;
            text-align: center;
            display: inline-block; 
            height: 180px;
            width: 230px;

                i{
                    color: #8BC03F;
                    font-size: 2.5em;
                    margin-bottom: 5px;
                    transition: .3s ease-in-out;
                }
                .title{
                    font-weight: 800;
                    font-size: 1.20em;
                    color: black;
                    transition: .4s ease-in-out;
                    margin-bottom: 0;

                }
                .divider{
                    justify-content: center;
                    width: 60px;
                    height: 2px;
                    margin:10px auto;
                    // border-bottom: 2px solid #8BC03F;
                    background: #8BC03F;
                    transition: .3s ease-in-out;
                }
                &:hover .divider {
                    width: 180px;
                    position: relative;
                    margin:30px auto;
                }
                &:hover i{
                    margin-top: -20px;
                }
                
                p{
                    font-weight: 350;
                    margin: 0;
                    line-height: 1.7;
                    font-size: 0.9em;
                    color: #BDBDBD;
                }
                .title:hover{
                    color: #8BC03F;
                    cursor: pointer;
                }
            }
        }
    }
}
#about{
    height: 800px;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    background: url(../assets/counts.jpg) no-repeat; 
    background-size: cover;
    color: #FFFFFF;
    display: flex;

    .wrapper{
        width: 98%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
        .about-us{
            background-color: #1E3953;
            width: 300px;
            padding: 0.5% 5% 5% 4%;
            -webkit-box-shadow: 3px -1px 5px 5px rgba(0,0,0,0.1);
            -moz-box-shadow: 3px -1px 5px 5px rgba(0,0,0,0.1);
            box-shadow: 3px -1px 5px 5px rgba(0,0,0,0.1);    
            margin: auto 0;
            display: flex;
            margin-left: auto;
            flex-direction: column;
            margin-right: 0;
            z-index: 1;

            .a-title{
                font-size: 45px;
                font-weight: 700;
            }
            .a-desc{
                    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.71429;

            }
            .check{
                    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 3;
                i{
                    color: #8BC03F;
                    margin-right: 0.5em;
                }
            }
            button{
                text-transform: uppercase;
                padding: 20px 20px;
                font-family: "Ubuntu", Helvetica, Arial, sans-serif;
                letter-spacing: 0.05em;
                font-size: 14px;
                font-weight: 700;
                border-radius: 5px;
                border: 2px solid;
                color: #fff;
                background-color: transparent;
                border-color: #fff;
                margin-top: 5%;
                transition: .3s ease-out;
                width: 240px;
            }
            button:hover{
                background-color: #8BC03F;
                border-color: #8BC03F;
                cursor: pointer;
            }
        }
        .counts{
            background-color: #1E3953;
            margin: auto 0;
            display: flex;
            width: 200px;
            margin-right:auto;
            height: 450px;
            display: flex;
            flex-direction: column;
            text-align: center;
            z-index: 0;
            justify-content: flex-end;

            .num-box{
                height: 200px;
                margin: 0;
                border-bottom: 1px solid #1C2E3F;

                .number{
                    font-size: 45px;
                    font-weight: 800;
                    margin-bottom: 0;
                }
                .details{
                    color: #486889;
                    font-size: 14px;
                    font-weight: 800;
                    margin-top: 0;
                }
            }
            .num-box:nth-child(3){
                border-bottom: none;
            }
        }
    }
}
#calculator{
    background: url(../assets/calculator.jpg);
    background-size: cover;
    height: 500px;
    padding: 100px;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;

    .wrapper{
        width: 98%;

        .title{
            font-family: "Ubuntu", Helvetica, Arial, sans-serif;
            margin: 40px;
            margin-left: 0;
            font-size: 50px;
            font-weight: 700;

            i{
                color: white;
            }
        }

        .cal-container{
            display: flex;
            flex-direction: row;


            form{
                display: flex;
                flex-direction: row;
                width: auto;
                
                .left{
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    width: 220px;
                    margin-right: 50px;

                    input{
                        border-bottom: 3px solid #8BC03F;
                    }
                }

                .right{
                    display: flex;
                    flex-direction: column;
                    width: 220px;
                    flex-direction: column;
                    color: #1C2E3F;
                }                 
                p{
                    font-weight: 650;
                    margin: 0;
                    line-height: 1.7;
                    font-size: 0.9em;
                    color: #1C2E3F;
                    margin-bottom: 5px;
                }
                select{
                        margin-bottom: 20px;
                        border: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -o-appearance: none;
                        height: 50px;
                        border-radius: 5px;
                        padding: 15px;
                        background-color: white;
                        font-size: 15px;
                        
                        option{
                            border: 0;
                            outline: 0;
                        }
                }
                select:hover{
                    cursor: pointer;
                }
                select:active{
                    outline: none;
                }
                select:focus{
                    outline: none;
                }
                input{
                        height: 20px;
                        border-radius: 5px;
                        padding: 15px;
                        background-color: white;
                        font-size: 15px;
                        border: none
                }
                input:focus{
                    outline: none;
                }
            }
        }
    }        
}
#testimonials{
    width: 100%;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    height: 600px; 

    .white{
        background-color: white;
        height: 200px;
        position: relative;

    }
    .blue{
            background-color: #1E3953;
            height: 300px;
    }

    .wrapper{
        width: 98%;

        .t-container{ 
            position: relative;

            .test{

            }
        }
    }

}
#news{
    height: 600px;
    margin-top: 50vh;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    
    .wrapper{
        width: 98%;

        .news-title{
            font-size: 45px;
            text-align: center;
            font-weight: 600;
        }
        .news-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .box{
                width: 250px;
                height: 300px;

                img{
                    height: 180px;
                    width: 250px;
                }
                .headline{
                    margin: 0 10px;
                    font-weight: 700;
                    font-size: 18px;
                    letter-spacing: 0.7px;
                    line-height: 1.5rem;

                }
            }
        }
    }
}

@media(max-width: 1100px){
    .wrapper{
        max-width: 900px;
    }
    header{
        .details{
        }
    }
}




@media(max-width: 900px){

}